@model TermsAndPrivacyViewModel
@{
	ViewData["Active"] = "Settings";
	ViewData["Title"] = "Terms and Privacy";
}
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">@ViewData["Title"]</h3>
	</div>
	<div class="row">
		<form role="form" method="post" autocomplete="off">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label asp-for="Notes"></label>
							<textarea asp-for="Notes" class="rich-text" rows="3">     </textarea>
							<span asp-validation-for="Notes" class="text-danger"></span>
						</div>
					</div><div class="col-md-12">
						<div class="form-group">
							<label asp-for="Terms"></label>
							<textarea asp-for="Terms" class="rich-text" rows="3">     </textarea>
							<span asp-validation-for="Terms" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label asp-for="Privacy"></label>
							<textarea asp-for="Privacy" class="rich-text" rows="3">     </textarea>
							<span asp-validation-for="Privacy" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

		</form>
	</div>
</div>
