@model PurchaseOrderViewModel
@{
    ViewData["Active"] = "Products";
    var title = Model.IsEditMode ? "Edit" : "Add";
    ViewData["Title"] = $"{title} Purchase Order";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add Purchase Order</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" method="post" autocomplete="off">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" />
                    <input asp-for="IsEditMode" />
                    <input id="inpIsSupplier" asp-for="Code" type="hidden" value="@DateTime.Now" />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" placeholder="P O title">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="customer-select"
                                            asp-for="SupplierId">
                                        <option value="">--Select Supplier--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Product</label>
                                    <select class="form-control select2 product-select-search" style="width: 100%;"
                                            id="selectedProductAdj">
                                        <option value="">--Select Product--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="addPoItem()">
                                        <i class="fa fa-plus-circle"></i> Add to list
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Add Product</h4>
                            <div>
                                <p class="alert alert-info">
                                    <i class="fa fa-info-circle fa-2x"></i><br /> Select product to add to P.O line
                                    items.
                                    <br />You can modify order price, quantity and note
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="col-12 table-responsive">
                            <label>Purchase Order Products</label>
                            <table class="table table-striped" id="tablePurchaseItems">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="purchaseOrderItemList">
                                    @{
                                        var i = 0;
                                    }
                                    @foreach (var item in Model.PurchaseOrderItems)
                                    {
                                        <tr id="tr_@i">
                                            <td>
                                                <input type="hidden" asp-for="PurchaseOrderItems[i].ProductId" />
                                                <input class="" asp-for="PurchaseOrderItems[i].ProductName" />
                                            </td>
                                            <td>
                                                <input class="" asp-for="PurchaseOrderItems[i].Quantity" />
                                            </td>
                                            <td>
                                                <input class="" asp-for="PurchaseOrderItems[i].UnitPrice" />
                                            </td>
                                            <td>
                                                <input class="" asp-for="PurchaseOrderItems[i].Amount" />
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            <div class="text-right"><span id="poTotalAmount"></span></div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
