@model ResetPasswordViewModel
@{
	ViewData["Active"] = "Users";
	var title = $"Set Password";
	ViewData["Title"] = title;
}
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">@ViewData["Title"]</h3>
	</div>
	<form role="form" method="post" autocomplete="off">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input asp-for="Id" />
		<input asp-for="Code" />
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Password"></label>
						<input asp-for="Password" class="form-control">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="ConfirmPassword"></label>
						<input asp-for="ConfirmPassword" class="form-control">
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
