@inject ISystemSettingInterface _settings;
@{
    Layout = "_HomePageLayout";
    ViewData["Title"] = "Home";
    var settingsRes = await _settings.ReadAsync();
    var settings = settingsRes.Data;
}
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">@settings.Tagline</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="">
                    @settings.Description
                </div>
            </div>
        </div>
    </div>
</header>