@inject ISystemSettingInterface _settings;
@{
    Layout = "_HomePageLayout";
    ViewData["Title"] = "Home";
    var settingsRes = await _settings.ReadAsync();
    var settings = settingsRes.Data;
}
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto tag-line">
                <h1 class="mb-5">@settings.Tagline</h1>
                <p>@settings.Description</p>
            </div>
        </div>
    </div>
</header>