@inject ISystemSettingInterface _settings;
@{
	Layout = "_HomePageLayout";
	ViewData["Title"] = "Privacy Policy";
	var privacyRes = await _settings.TermsAndPrivacyAsync();
}
<div>
	@Html.Raw(privacyRes.Data.Privacy)
</div>
