@inject ISystemSettingInterface _settings;
@{
	Layout = "_HomePageLayout";
	ViewData["Title"] = "Terms & Conditions";
	var privacyRes = await _settings.TermsAndPrivacyAsync();
}
<div>
	@Html.Raw(privacyRes.Data.Terms)
</div>
