.i-circle {
	background: #212529;
	color: #fff;
	padding: 5px 20px;
	border-radius: 50%;
	font-size: 1rem;
	font-weight: 400;
}
td.details-control {
	background: url('../img/open-button.png') no-repeat center center;
	width: 10px;
	background-size: 20px 20px;
}

tr.shown td.details-control {
	background: url('../img/close-button.png') no-repeat center center;
	width: 10px;
	background-size: 20px 20px;
}