.i-circle {
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 400;
}

td.details-control {
    background: url('../img/open-button.png') no-repeat center center;
    width: 10px;
    background-size: 20px 20px;
}

tr.shown td.details-control {
    background: url('../img/close-button.png') no-repeat center center;
    width: 10px;
    background-size: 20px 20px;
}

.customer-list {
    display: flex;
}

    .customer-list strong {
        margin-right: 10px;
    }

.sales-type input {
    margin-right: 10px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

th {
    white-space: nowrap;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

.messages-body {
    overflow-y: scroll;
    height: 350px;
}
